# Module 7: NEURAL NETWORKS

In [1]:
import tensorflow as tf
from tensorflow.keras import layers, models
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

WARNING:tensorflow:From C:\Users\purvi\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
import tensorflow as tf
from tensorflow.keras import layers, models

In [5]:
import zipfile

with zipfile.ZipFile('Downloads\\titanic.zip', 'r') as zip_ref:
    zip_ref.extractall('extract_folder')

In [6]:
df = pd.read_csv('extract_folder/Titanic.csv')

In [7]:
df.head()

      sex   age  sibsp  parch     fare embarked  class    who  alone  survived
0    male  22.0      1      0   7.2500        S  Third    man  False         0
1  female  38.0      1      0  71.2833        C  First  woman  False         1
2  female  26.0      0      0   7.9250        S  Third  woman   True         1
3  female  35.0      1      0  53.1000        S  First  woman  False         1
4    male  35.0      0      0   8.0500        S  Third    man   True         0

In [8]:
df['age'].fillna(df['age'].mean(), inplace = True)

In [9]:
df.dropna(subset=['embarked'], inplace=True)

In [10]:
df.isnull().sum()

sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
class       0
who         0
alone       0
survived    0
dtype: int64

In [12]:
print(df['embarked'].unique())

['S' 'C' 'Q']

In [ ]:
df['embarked'].fillna(value='unknown', inplace=True)
df = pd.get_dummies(df, columns=['embarked'])

In [18]:
df.columns

Index(['sex', 'age', 'sibsp', 'parch', 'fare', 'class', 'who', 'alone',
       'survived', 'embarked_C', 'embarked_Q', 'embarked_S'],
      dtype='object')

In [16]:
numeric_columns = df.select_dtypes(include=np.number).columns
print(np.isnan(df[numeric_columns].values).any())
print(df.isnull().values.any())

False
False

In [20]:
X = df[['sex', 'age', 'sibsp', 'parch', 'fare', 'embarked_C', 'embarked_Q', 'embarked_S']]
y = df['survived']

In [21]:
y = y.values

In [22]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [26]:
numeric_features = ['age', 'sibsp', 'parch', 'fare']
numeric_transformer = StandardScaler()

categorical_features = ['sex', 'embarked_C', 'embarked_Q', 'embarked_S']
categorical_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

In [27]:
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_val_preprocessed = preprocessor.transform(X_val)

In [29]:
model = models.Sequential()
model.add(layers.Dense(64, activation='relu', input_shape=(X_train_preprocessed.shape[1],)))
model.add(layers.Dense(1, activation='sigmoid'))

In [31]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [33]:
model.fit(X_train_preprocessed, y_train, epochs=10, batch_size=32, validation_data=(X_val_preprocessed, y_val))

Epoch 1/10
23/23 [==============================] - 0s 8ms/step - loss: 0.4467 - accuracy: 0.7975 - val_loss: 0.4607 - val_accuracy: 0.8090
Epoch 2/10
23/23 [==============================] - 0s 5ms/step - loss: 0.4442 - accuracy: 0.7961 - val_loss: 0.4599 - val_accuracy: 0.8090
Epoch 3/10
23/23 [==============================] - 0s 5ms/step - loss: 0.4415 - accuracy: 0.7989 - val_loss: 0.4596 - val_accuracy: 0.8090
Epoch 4/10
23/23 [==============================] - 0s 5ms/step - loss: 0.4392 - accuracy: 0.7989 - val_loss: 0.4621 - val_accuracy: 0.8090
Epoch 5/10
23/23 [==============================] - 0s 4ms/step - loss: 0.4369 - accuracy: 0.8003 - val_loss: 0.4596 - val_accuracy: 0.8090
Epoch 6/10
23/23 [==============================] - 0s 5ms/step - loss: 0.4352 - accuracy: 0.8003 - val_loss: 0.4589 - val_accuracy: 0.8090
Epoch 7/10
23/23 [==============================] - 0s 6ms/step - loss: 0.4331 - accuracy: 0.8031 - val_loss: 0.4592 - val_accuracy: 0.8090
Epoch 8/10
23/23 [==============================] - 0s 6ms/step - loss: 0.4320 - accuracy: 0.8045 - val_loss: 0.4615 - val_accuracy: 0.8146
Epoch 9/10
23/23 [==============================] - 0s 6ms/step - loss: 0.4309 - accuracy: 0.8031 - val_loss: 0.4603 - val_accuracy: 0.8090
Epoch 10/10
23/23 [==============================] - 0s 7ms/step - loss: 0.4278 - accuracy: 0.8059 - val_loss: 0.4628 - val_accuracy: 0.8146

In [36]:
X_test_preprocessed = preprocessor.transform(X_val)

test_loss, test_accuracy = model.evaluate(X_test_preprocessed, y_val)
print(test_accuracy)

6/6 [==============================] - 0s 5ms/step - loss: 0.4628 - accuracy: 0.8146
0.8146067261695862